*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../../CSS/Css-assignment-3/36481.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
}
.header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 70px; 
    /* border: 2px solid gray; */
    border-radius: 0 0 20px 20px;
    padding-left: 25px;
    background-color: gray;
}

.header span{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 40px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 gray;
}

.header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 gray;
}


.box-area{
    position: relative;
    width: 450px;
    backdrop-filter: blur(50px);
    border: 1px solid rgb(168, 168, 168);
    border-radius: 15px;
    padding: 100px 30px 80px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: whitesmoke; 
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: #fff;
    padding-inline: 20px 50px;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 15px;
    gap: 40px;
}

#name{
    margin-bottom: 10px;
}
#email{
    margin-bottom: 10px;
}
#phone{
    margin-bottom: 10px;
}

label{
    position: relative;
    top: -5px;
    left: 20px;
    transition: .2s;
}

.Cover{
    width: 100%;
    height: 160px;
    font-size: 16px;
    background: transparent;
    color: white;
    padding-inline: 20px 50px;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 15px;
    outline: none;
}


button{
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
a{
    text-decoration: none;
    font-weight: bold;
}

button:hover{
    background-color: #fff;
}


@media screen and (max-width: 600px) {
    .container{
        padding: 20px
    }
    .box-area{
        padding: 7.5em 2.5em 4em 2.5em;
        width: 100%;
    } 
}
