* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e6e6e6;
}

/* Header-start */
header {
    background: #8c6ae8;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
    height: 70px;
}
/* Header-end */

/* Categories Section start */
.categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 25px 10px;
    flex-wrap: wrap;
}

.categories .item {
    text-align: center;
    width: 120px;
}

.categories img {
    width: 70px;
    height: auto;
    margin-bottom: 8px;
}
/* Categories Section end */

/* Banner Section start */
.banner {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
}
/* Banner Section end */

/* sales start */
.sales{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    /* border: 1px solid black; */
    /* background-color: blueviolet; */
    width: 90%;
    max-width: 1100px;
    margin-left: 123px;
}
/* sales end */

table{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    border-collapse: collapse;
    /* background: white; */
    border: 1px solid black;
}

thead th{
    background: #7f63d4;
    color: white;
    padding: 12px;
    font-size: 18px;
}

tbody td{
    padding: 12px;
    font-size: 16px;
    border: 1px solid black;
    text-align: center;
}


.description h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 92);
}
.description p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(129, 129, 129);
}

.description span{
    color: rgb(129, 129, 129);
}

.description h3{
    color: rgb(92, 92, 92);
}

.description ul{
    color: rgb(129, 129, 129);
}

footer{
    height: 70px;
    border: 1px solid black;
    color: white;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Responsive */
@media (max-width: 425px) {
    .categories {
        gap: 25px;
    }
    .banner img {
        width: 100%;
        /* max-width: 1200px; */
        border-radius: 10px;
    }

    table {
        font-size: 14px;
        width: 100%;
    }

    thead th, tbody td {
        padding: 10px;
    }

    .banner {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

}
@media (min-width: 426px)and(max-width: 768px) {
    .categories {
        gap: 25px;
    }

    table {
        font-size: 14px;
    }

    thead th, tbody td {
        padding: 10px;
    }
}
@media (min-width: 769px)and(max-width: 1024px) {
    .categories {
        gap: 25px;
    }

    table {
        font-size: 14px;
    }

    thead th, tbody td {
        padding: 10px;
    }
}

