* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #d9d9d9;
}

/* Section */
.sales-section {
    text-align: center;
    padding: 30px 0;
}

/* Heading */
.sales-section h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Table Styling */
table {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    border-collapse: collapse;
    /* background: white; */
    border: 1px solid black;
}

thead th {
    background: #7f63d4;
    color: white;
    padding: 12px;
    font-size: 18px;
}

tbody td {
    padding: 12px;
    font-size: 16px;
    border: 1px solid black;
    text-align: center;
}

td del {
    color: red;
}

/* Responsive */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    thead th, tbody td {
        padding: 10px;
    }
}
